* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
  }
  :root{
      --primary-color:#005F73;
      --secondary-color:#0A9396;
      --tertiary-color:#94D2BD;
      --primary-text-color:#2f3640;
      --grey-color:#F5F5F5;
      --grey-darker-color:#C8C9CB;
      --white:white;

      --logo-font-family:"rosa sans";
      --heading-font-family:"montserrat";
      

  }